In [3]:
string_1 = 'hello!'
string_2 = "hello"
print(type(string_1))
print(type(string_2))
string_1 = string_2

<class 'str'>
<class 'str'>

In [5]:
text = """This is first line
And second line
Last third line"""

print(text)
 
song = '''Jingle bells, jingle bells
Jingle all the way
Oh, what fun it is to ride
In a one horse open sleigh'''

print(song)

This is first line
And second line
Last third line
Jingle bells, jingle bells
Jingle all the way
Oh, what fun it is to ride
In a one horse open sleigh

In [7]:
one_line_text = "Textual data in Python is handled with str objects, or strings. "\
            	"Strings are immutable sequences of Unicode code points. "\
            	"String literals are written in a variety of ways."
print(one_line_text)

Textual data in Python is handled with str objects, or strings. Strings are immutable sequences of Unicode code points. String literals are written in a variety of ways.

In [11]:
# an integer to a string
s = str(15)
print(type(s))
print(s)
 
 
# a list to a string
s = str([12, 11, 44])
print(s)
print(type(s))

<class 'str'>
15
[12, 11, 44]
<class 'str'>

In [15]:
# Indexing
S = 'hello world'
print(S[1])	# Prints e
print(S[7])	# Prints o
 
# Negative Indexing
S = 'ABCDEFGHI'
print(S[-2])	# Prints H
print(S[-6])	# Prints D

e
o
H
D

In [16]:
pip = 'Andrew Boiko'
first_name_start = pip[0]
last_name_start = pip[-5]
 
print(first_name_start)
print(last_name_start)
 
if first_name_start == last_name_start :
	print('first name and last name strts with', first_name_start)

A
B

In [22]:
s = 'abcdefghijk'
s[3:5]
s[:6]
s[::-1]
s[-3:]
s[:-5]
s[-1:-6:-2]

'kig'

In [23]:
S = "Hello world"
S[0] = 'H'

TypeError: 'str' object does not support item assignment

In [24]:
S = 'Hello,' + ' World!'
print(S)

Hello, World!

In [26]:
delimiter = '-' * 25
print(delimiter)
 
s = 'abc' * 9
print(s)

-------------------------
abcabcabcabcabcabcabcabcabc

In [27]:
jingle_bells = "Jingle bells, jingle bells\nJingle all the way\nOh, what fun it is to ride\nIn a one horse open sleigh"

print(jingle_bells)

Jingle bells, jingle bells
Jingle all the way
Oh, what fun it is to ride
In a one horse open sleigh

In [2]:
goods = [
    ['phone', 'samsung', 8000],
    ['tablet', 'Xiaomi', 17000],
    ['phone', 'apple', 23000],
    ['tablet', 'acer', 30000],
]

max_price = int(input('Enter max price'))

for tovar in goods:
    price_for_good = tovar[2]
    if price_for_good <= max_price:
        print(tovar)

8000
17000
23000
30000

In [3]:
S = 'Hello World!'
print(len(S))

12

In [1]:
s = "I am learning strings in Python Some new methods got now."
words = s.split()
print(words)
print(type(words))
print(len(words))

['I', 'am', 'learning', 'strings', 'in', 'Python', 'Some', 'new', 'methods', 'got', 'now.']
<class 'list'>
11

In [4]:
db_desc = 'mysql;127.0.0.1;root;asdwrsc'
connection_params = db_desc.split(';')

print('host: ', connection_params[1])
print('user: ', connection_params[2])

host:  127.0.0.1
user:  root

In [5]:
connection_params = ['mysql', '127.0.0.1', 'root', 'userpassw']
connection_string = '|'.join(connection_params)
print(connection_string)

mysql|127.0.0.1|root|userpassw

In [ ]:
adv_words = ['купити', 'продати', 'реклама']
user_text = input()
not_found = -1
is_spam = False
 
for stop_word in adv_words :
    if user_text.find(stop_word) != not_found:
        is_spam = True
        break
  
message = 'Spam' if (is_spam) else 'Not Spam'   
print(message)

In [ ]:
map = {ord('ю'): 'iu', ord('в'): 'v'}

last_name = 'Ковлюк Ковлюк Ковлюк '

last_name_eng = last_name.translate(map)
print(last_name_eng)

In [6]:
print('pi: {:12.10}'.format(3.14156435635))

pi:  3.141564356

In [12]:
delimiter = '-' * 91
goods = [
    ['Апельсин', 6, 150.25, '12:00'], 
    ['Лимон', 8, 90.80, '13:43'], 
    ['Картопля', 123, 445.22, '13:43']
    ]
total_sum = 0
number = 0
print(delimiter)
print("|{:^5}|{:<40}|{:^10}|{:>15}|{:>15}|".format('№', 'Товар', 'Час', 'кількіть', 'вартість'))
print(delimiter)
 
for good in goods :
    name = good[0]
    count = good[1]
    price = good[2]
    time = good[3]
    number += 1;
    total_sum += price
    print("|{:^5}|{:<40}|{:^10}|{:>15}|{:>15}|".format(number, name, time, count, price))
 
print(delimiter)
print("|{:_<73}|{:_>15}|".format(' Продано всього', total_sum))
print(delimiter)

-------------------------------------------------------------------------------------------
|  №  |Товар                                   |   Час    |       кількіть|       вартість|
-------------------------------------------------------------------------------------------
|  1  |Апельсин                                |  12:00   |              6|         150.25|
|  2  |Лимон                                   |  13:43   |              8|           90.8|
|  3  |Картопля                                |  13:43   |            123|         445.22|
-------------------------------------------------------------------------------------------
| Продано всього__________________________________________________________|_________686.27|
-------------------------------------------------------------------------------------------