In [1]:
db_name = 'sqlite-homework.db'

In [2]:
import sqlite3
con = sqlite3.connect(db_name)

cur = con.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS stocks
               (date text, trans text, symbol text, qty real, price real)''')


try:
    cur.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")
    cur.execute("INSERT INTO stocks VALUES ('2006-03-28', 'BUY', 'IBM', 1000, 45.0)")
    cur.execute("INSERT INTO stocks VALUES ('2006-04-06', 'SELL', 'IBM', 500, 53.0)")
    cur.execute("INSERT INTO stocks VALUES ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)")


    con.commit()
finally:
    con.close()

In [3]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    stocks = cursor.execute('SELECT * FROM stocks')
    for row in stocks:
        print(row)

finally:
    connnection.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [4]:
import sqlite3
connnection = sqlite3.connect(db_name)
cursor = connnection.cursor()
try:
    stocks = cursor.execute("SELECT * FROM stocks WHERE trans = 'SELL' ")
    for row in stocks:
        print(row)

finally:
    connnection.close()

('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)